<%= render 'welcome/header' %>

<h1>Hola <%= @name %></h1>

<!-- <a href="/welcome/mi_vista">Ir a mi vista</a> -->
<%= link_to "Ir a mi vista", welcome_mi_vista_path %>
<%#= link_to "Ir a name", name_path("Daniel") %>

<%= link_to "ir al precio", welcome_prices_path(90) %>

<%= render 'welcome/footer' %>